*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    font-family: 'Lato', sans-serif;
}
/*navbar*/
.navbar{height: 0;display: block;padding: 0;z-index: 9}

/*start header*/
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
header img{height: 688px}
h1{font-size: 3em;}
.btn{
    padding: 0.575rem 3rem;
    background-color: #31859d;
    color:#fff;
}


.form-group span {
    color: #F00;
    display: none
}
@media (max-width : 991px){
    .navbar .navbar-brand{
        margin: auto
    }
    header{margin-top: 1rem}
}